@import 'values.scss';

.appointment {
  background: $red;
  border-radius: $border-radius;
  padding: $padding / 2 $padding;
  overflow: hidden;
  position: relative;
  flex: 1;

  &::after {
    content: ' ';
    box-shadow: 0 14px 10px 22px $red;
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0;
  }

  & + & {
    margin-left: 5px;
  }

  h1 {
    margin: 0;
    font-size: 16px;
    max-width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    color: white;
  }

  .time {
    float: right;
  }

  p.description {
    margin: 5px 0;
  }
}
