@import 'values.scss';

.appointment-container {
  position: absolute;
  top: 0;
  width: 81%;
  left: 83px;
  padding-top: $padding + $time-node-base / 2 - 2px;
}

.appointment-group {
  display: flex;
}

.appointment {
  background: $red;
  border-radius: $border-radius;
  border: 1px solid white;
  padding: $padding / 2 $padding;
  overflow: hidden;
  position: relative;
  flex: 1;
  cursor: pointer;
  color: inherit;
  white-space: pre;
  text-decoration: none;
  min-height: $time-node-height / 2;
  outline: none;

  &:focus, &.selected {
    border-color: transparent;
    z-index: 300;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  &::after {
    content: ' ';
    box-shadow: 0 14px 10px 22px $red;
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: -5px;
    left: 0;
  }

  h1 {
    margin: 0;
    font-size: 16px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    color: white;
  }

  .time {
    float: right;
  }

  p.description {
    margin: 5px 0;
  }
}
