@import 'values.scss';

.appointment {
  background: $red;
  border-radius: $border-radius;
  margin: 5px;
  padding: $padding / 2 $padding;
  margin-top: 155px; // DEBUG
  max-height: 80px; // DEBUG
  overflow: hidden;
  position: relative;

  &::after {
    content: ' ';
    box-shadow: 0 14px 10px 22px #f65f52;
    display: block;
    height: 5px;
    position: absolute;
    width: 100%;
    bottom: -5px;
    background: blue;
    left: 0;
  }

  h1 {
    margin: 0;
    font-size: 16px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    color: white;
  }

  .time {
    float: right;
  }

  p.description {
    margin: 5px 0;
  }
}
