@import 'values.scss';

.overview {
  border-radius: $border-radius;
  background: white;
  color: $black;
  display: flex;
  flex-direction: column;
  flex: 5;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.13), 0 18px 30px 0 rgba(0,0,0,0.13);
  z-index: 100;

  & > header {
    border-bottom: 1px solid lighten($dark-gray, 5%);
    font-size: 20px;
    padding: $padding * 1.4 $padding * 3.25;
    letter-spacing: 0.3px;
  }

  & > article {
    padding: $padding;
    color: $dark-gray;
    position: relative;
    overflow: hidden;

    .appointment-container {
      position: absolute;
      top: 0;
      width: 81%;
      left: 86px;
      padding-top: $padding + $time-node-base / 2 - 2px;

      .appointment-group {
        display: flex;
      }
    }

    ul {
      margin-left: $margin * 1.5;
      font-size: 12px;

      li {
        height: $time-node-base;
        margin-bottom: $time-node-gap;
        background: white;

        &::after {
          border-bottom: 1px solid $dark-gray;
          content: '';
          position: relative;
          top: -9px;
          left: 41px;
          width: 88%;
          display: block;
        }
      }
    }
  }
}
