$blue: #4a526f;
$green: #20c576;
$red: #f65f52;
$black: #111;
$light-gray: #f8f8f8;
$dark-gray: #dadada;

$margin: 20px;
$padding: 12px;

$border-radius: 4px;
$border-radius-small: 1px;

$input-height: 35px;
